@model ProductVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="text-primary">@(Model.product.Id !=0?"Update" : "Create")Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 ">

        <form asp-action="UpSert" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-10">
                    <div class="border border-2 border-secondary p-5 ">
                        <div class="row pb-2">
                            <hr class="border-2 border-dark" />
                        </div>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="product.Id" class="form-control" hidden />
                      @*   <input asp-for="product.ImageUrl" class="form-control" hidden /> *@
                       <div class="mb-3">
                            <label asp-for="product.Name" class="form-label"></label>
                            <input asp-for="product.Name" class="form-control" />
                            <span asp-validation-for="product.Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="product.Description" class="form-label"></label>
                            <textarea asp-for="product.Description" class="form-control"></textarea>
                            <span asp-validation-for="product.Description" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="product.ISBN" class="form-label"></label>
                            <input asp-for="product.ISBN" class="form-control" />
                            <span asp-validation-for="product.ISBN" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="product.Author" class="form-label"></label>
                            <input asp-for="product.Author" class="form-control" />
                            <span asp-validation-for="product.Author" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="product.DisplayOrder" class="form-label"></label>
                            <input asp-for="product.DisplayOrder" class="form-control" />
                            <span asp-validation-for="product.DisplayOrder" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="product.ListPrice" class="form-label"></label>
                            <input asp-for="product.ListPrice" class="form-control" />
                            <span asp-validation-for="product.ListPrice" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="product.price" class="form-label"></label>
                            <input asp-for="product.price" class="form-control" />
                            <span asp-validation-for="product.price" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="product.price50" class="form-label"></label>
                            <input asp-for="product.price50" class="form-control" />
                            <span asp-validation-for="product.price50" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="product.price100" class="form-label"></label>
                            <input asp-for="product.price100" class="form-control" />
                            <span asp-validation-for="product.price100" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="product.CategoryId" class="form-label"></label>
                            <select asp-for="product.CategoryId" asp-items="@Model.listItems" class="form-control">
                                <option disabled selected>---Select Category---</option>
                            </select>
                            <span asp-validation-for="product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="product.ProductImages" class="form-label"></label>
                            <input type="file" name="files" class="form-control border-0 shadow" multiple />
                            
                          @*   <span asp-validation-for="product.ImageUrl" class="text-danger"></span> *@
                        </div>


                        <div class="row">
                            <div class="col-6 col-md-3">
                                @if (Model.product.Id == 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index"
                                   class="btn btn-secondary border form-control">Back to Product List</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    
                   @*  <img src="@Model.product.ImageUrl" alt="Alternate Text" 
                        style="width:100%; border-radius:5px; border:1px solid #bbb9b9" />
                     *@
                    @if (Model.product.ProductImages != null)
                    {
                        foreach (var image in Model.product.ProductImages)
                        {
                            <div class="border p-1 m-2 text-center">
                                <img src="@image.ImageUrl" width="100%" 
                                     style="border-radius:5px; border:1px solid #bbb9b9" class="p-5 pb-2" />
                               <a asp-action="DeleteImage" class="btn btn-danger pt-2" asp-route-id="@image.Id">
                                    <i class="bi bi-trash3"></i> Delete
                               </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {

    <script>
           <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Free plugins only
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons',
                'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount'
            ],
            toolbar: 'undo redo | blocks | bold italic underline | link media | bullist numlist | table | emoticons charmap | removeformat',
            menubar: false,   // optional: hides the top menu bar
            branding: false   // optional: removes "Powered by Tiny"
        });
    </script>

    </script>
    <partial name="_ValidationScriptsPartial" />
}
