@model IEnumerable<Product>

<div class="row pb-3 pt-5 p-5 align-items-stretch">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 p-3 shadow border-top border-5 rounded h-100 d-flex flex-column" onclick="window.location.href='@Url.Action("Details", new { id = product.Id })'" style="cursor: pointer;">
                @if (product.ProductImages != null && product.ProductImages.Any())
                {
                    <img src="@product.ProductImages.First().ImageUrl" class="card-img-top rounded" />
                }
                else
                {
                    <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                }

                <div class="card-body pb-0 flex-grow-1">
                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                    <p class="card-title text-warning text-center">by <b>@product.Author</b></p>

                    <p class="text-dark text-opacity-50 text-center mb-0">
                        Category: @product.Category.Name
                    </p>

                    <p class="text-dark text-opacity-75 text-center mb-0">
                        List Price:
                        <span class="text-decoration-line-through">@product.ListPrice.ToString("c")</span>
                    </p>

                    <p class="text-dark text-opacity-75 text-center">
                        As low as: <span>@product.price100.ToString("c")</span>
                    </p>
                </div>

                <div class="mt-auto">
                    <a asp-action="Details"
                       asp-route-id="@product.Id"
                       class="btn btn-primary bg-gradient border-0 form-control">
                        Details
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<style>
     
    .card-img-top {
        height: 250px;  
        object-fit: cover;  
    }

     
    .card {
        transition: transform 0.2s, box-shadow 0.2s;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

         
        .card .btn:hover {
            transform: none;
            box-shadow: none;
        }
</style>

<script>
    document.querySelectorAll('.card .btn').forEach(button => {
        button.addEventListener('click', function (e) {
            e.stopPropagation(); 
        });
    });
</script>